{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<br>
<!-- Contenido principal de la página -->
<div class="container">
  <h1 class="text-center titulos" style="color: #00A9D1;">Nosotros</h1>
  <div class="row">
      <!-- Centro Médico -->
      <div class="card p-2 col-sm-12 col-md-6 col-lg-4 col-xl-3 borde_nosotros" style="border: 1px solid #00A9D1;">
      <div class="card h-100 borde_nosotros">
        <br>
        <img src="{% static 'core/img/ok Logo ESCUELA 2022-06.png' %}" class="card-img-top img-fluid" style="max-width: 100%; height: auto;" alt="...">
        <br><br><br>
        <div class="card-body">
          <h2 class="card-title text-center titulos" style="color: #00A9D1;">Centro Médico Galenos</h2>
          <p class="card-text titulos_2" style="color: black;">
            En Galenos nos dedicamos a brindar atención médica de calidad, con un enfoque integral en el cuidado de la salud. Contamos con un equipo altamente capacitado y tecnología de punta para garantizar el bienestar de nuestros pacientes.
          </p>
          <br>
          <button class="btn btn-primary btn-block boton_buscar_anonimo_2" style="background-image: linear-gradient(to right, #00A9D1, #A8DADC); box-shadow: 0 2px 4px rgba(0, 169, 209, 0.5); border-color: rgba(0, 169, 209, 0.5); color: #ffffff;" onclick="window.location.href='mailto:contacto@galenos.com'" >Enviar correo</button>
        </div>
      </div>
      </div>
      <!-- Director Médico -->
      <div class="card p-2 col-sm-12 col-md-6 col-lg-4 col-xl-3 borde_nosotros" style="border: 1px solid #00A9D1;">
        <div class="card  h-100 borde_nosotros">
          <img src="{% static 'core/img/Danae.jpg' %}" class="card-img-top img-fluid" style="max-width: 100%; height: auto;" alt="...">
          <br>
          <div class="card-body">
          <h2 class="card-title text-center titulos" style="color: #00A9D1;">Director Médico</h2>
          <p class="card-text titulos_2" style="color: black;">
            Líder en el cuidado de la salud, el Director Médico de Galenos supervisa y coordina nuestros servicios médicos, asegurando los más altos estándares de calidad y una atención personalizada para cada paciente.
          </p>
          <br><br><br><br><br><br><br><br>
          <button class="btn btn-primary btn-block boton_buscar_anonimo_2" style="background-image: linear-gradient(to right, #00A9D1, #A8DADC); box-shadow: 0 2px 4px rgba(0, 169, 209, 0.5); border-color: rgba(0, 169, 209, 0.5); color: #ffffff;" onclick="window.location.href='mailto:contacto@galenos.com'" >Enviar correo</button>
          </div>
        </div>
      </div>
      <!-- Coordinador de Servicios -->
      <div class="card p-2 col-sm-12 col-md-6 col-lg-4 col-xl-3 borde_nosotros" style="border: 1px solid #00A9D1;">
        <div class="card h-100 borde_nosotros">
          <img src="{% static 'core/img/nico.jpeg' %}" class="card-img-top img-fluid" style="max-width: 100%; height: auto;" alt="...">
          <br>
          <div class="card-body">
            <h2 class="card-title text-center titulos" style="color: #00A9D1;">Coordinador de Servicios</h2>
            <p class="card-text titulos_2" style="color: black;">
              Responsable de garantizar una experiencia fluida para los pacientes, coordinando citas, procedimientos y servicios adicionales con profesionalismo y empatía.
            </p>
            <br><br><br><br><br><br><br>
            <button class="btn btn-primary btn-block boton_buscar_anonimo_2" style="background-image: linear-gradient(to right, #00A9D1, #A8DADC); box-shadow: 0 2px 4px rgba(0, 169, 209, 0.5); border-color: rgba(0, 169, 209, 0.5); color: #ffffff;" onclick="window.location.href='mailto:contacto@galenos.com'" >Enviar correo</button>
        </div>
        </div>
      </div>
      <!-- Atención al Cliente -->
      <div class="card p-2 col-sm-12 col-md-6 col-lg-4 col-xl-3 borde_nosotros" style="border: 1px solid #00A9D1;">
        <div class="card borde_nosotros">
          <img src="{% static 'core/img/Thomas.jpg' %}" class="card-img-top img-fluid" style="max-width: 100%; height: auto;" alt="...">
          
          <div class="card-body">
            <h2 class="card-title text-center titulos" style="color: #00A9D1;">Atención al Cliente</h2>
            <p class="card-text titulos_2" style="color: black;">
              Nuestro equipo de Atención al Cliente está aquí para resolver sus dudas y asistirle en todo lo que necesite. Su dedicación asegura una experiencia cálida y eficiente en cada visita.
            </p>
            <br><br><br><br><br><br><br><br>
            <button class="btn btn-primary btn-block boton_buscar_anonimo_2" style="background-image: linear-gradient(to right, #00A9D1, #A8DADC); box-shadow: 0 2px 4px rgba(0, 169, 209, 0.5); border-color: rgba(0, 169, 209, 0.5); color: #ffffff;" onclick="window.location.href='mailto:contacto@galenos.com'" >Enviar correo</button>
            <br>
          </div>
        </div>
      </div>
  </div>
</div>

<br><br><br><br>
    
{% endblock content %}
