{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
  <h1 class="text-center titulos" style="margin: 25px; color: #007bff;">Mantenedor de productos</h1>
  <br><br>
  <form id="form" method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="row">
      <div class="col-sm-12 col-md-5"> 
          {{ form.categoria|as_bootstrap_field }} 
          {{ form.nombre|as_bootstrap_field }}
          {{ form.descripcion|as_bootstrap_field }} 
      </div> 
  
      <div class="col-sm-12 col-md-4"> 
          {{ form.precio|as_bootstrap_field }} <br> <br>
          <fieldset class="border border-4 p-2" style="border-color: #007bff;">
              <legend style="color: #007bff; font-weight: bold;">PORCENTAJES DE DESCUENTO</legend>
              {{ form.descuento_subscriptor|as_bootstrap_field }}  
              {{ form.descuento_oferta|as_bootstrap_field }}  
          </fieldset>
      </div>
  
      <div class="col-sm-12 col-md-3">
          {% if form.imagen.value %}
              <img id="cuadro-imagen" src="/media/{{ form.imagen.value }}" alt="Imagen del producto" class="img-fluid border" style="border-color: #007bff;">
          {% else %}
              <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}" alt="Sin imagen disponible" class="img-fluid border" style="border-color: #007bff;">
          {% endif %}
          
          {{ form.imagen|as_bootstrap_field }}
          
          {% if form.imagen.errors %}
              <div class="invalid-feedback d-block">
                  {{ form.imagen.errors }}
              </div>
          {% endif %}
      </div>
  </div>  

    <br><br>
    <!-- AREA DE BOTONES -->
    <div class="mt-2 mb-3 text-center">
      <div class="btn-group">
          <input class="btn btn-primary boton_buscar_anonimo_2" style="background-color: #007bff; border-color: #007bff;" type="submit" value="Guardar">

          <a class="btn btn-primary boton_buscar_anonimo_2" style="background-color: #007bff; border-color: #007bff;" href="{% url 'productos' 'crear' '0' %}"> Nuevo </a>

          <a class="btn btn-primary boton_buscar_anonimo_2" style="background-color: #007bff; border-color: #007bff;" onclick="event.preventDefault(); document.getElementById('id_imagen').click();"> Seleccionar imagen </a>  

          {% if form.instance.id %}
            <a class="btn btn-primary" style="background-color: #dc3545; color: #ffffff;" href="{% url 'productos' 'eliminar' form.instance.id %}"> Eliminar </a>
          {% endif %}
      </div>
    </div>
  </form>
  <br>

    <table id="tabla-principal" class="table table-hover" style="background-color: #ffffff;">
        <thead>
            <tr class="tabla_carrito" style="background-color: #007bff; color: #ffffff;">
                <th> ID </th>
                <th> Categoría </th>
                <th> Nombre </th>
                <th> Descripción </th>
                <th> Precio </th>
                <th> %Subs </th>
                <th> %Oferta </th>
                <th> Imagen </th>
                <th> Editar </th>
                <th> Eliminar </th>
            </tr>
        </thead>
        <tbody class="tabla_carrito">
            {% for producto in productos %}
            <tr>
              <td>{{ producto.id }}</td>
              <td>{{ producto.categoria }}</td>
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.descripcion }}</td>
              <td>{{ producto.precio|formatear_dinero }}</td>
              <td>{{ producto.descuento_subscriptor|formatear_porcentaje }}</td>
              <td>{{ producto.descuento_oferta|formatear_porcentaje }}</td>
              <td>
                  <img src="/media/{{ producto.imagen }}" class="producto-sm" alt="Imagen del producto">
              </td>
              <td>
                  <a href="{% url 'productos' 'actualizar' producto.id %}" class="btn btn-primary btn-sm" style="background-color: #007bff; border-color: #007bff;">Editar</a>
              </td>
              <td>
                  <form method="delete">
                      <a href="{% url 'productos' 'eliminar' producto.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                  </form>
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br><br>
{% endblock content %}

{% block script %}
  <script src="{% static 'core/js/productos.js' %}"></script>
{% endblock script %}

