{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<h1 class="text-center titulos" style="margin: 25px; color: #007bff;">Mantenedor de usuarios</h1>  

<form id="form" method="POST" enctype="multipart/form-data" style="border: 2px solid #007bff; border-radius: 10px; padding: 15px; background-color: #f8faff;">
    {% csrf_token %}

    <div class="row"> 
        <div class="col-sm-12 col-md-5">
            <div style="border: 1px solid #00aaff; border-radius: 5px; padding: 10px;">
                {{ form_usuario|as_bootstrap_form:'help_text_visible=False' }} 
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div style="border: 1px solid #00aaff; border-radius: 5px; padding: 10px;">
                {{ form_perfil|as_bootstrap_form }}
            </div>
        </div>
        
        <div class="col-sm-12 col-md-3 text-center">
            <div style="border: 1px solid #00aaff; border-radius: 5px; padding: 10px;">
                {% if form_perfil.instance.imagen %}
                    <img id="cuadro-imagen" src="{{ form_perfil.instance.imagen.url }}" alt="Imagen del Usuario" style="border-radius: 10px; border: 2px solid #00aaff;">
                {% else %}
                    <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}" alt="Sin Imagen" style="border-radius: 10px; border: 2px solid #00aaff;">
                {% endif %}

                {% if form_perfil.imagen.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form_perfil.imagen.errors }}
                    </div>
                {% endif %}
            </div>
        </div>    
    </div>

    <!-- AREA DE BOTONES -->
    <br><br>
    <div class="d-flex justify-content-center mt-2 mb-3">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff;">Guardar</button>
            <a href="{% url 'usuarios' 'crear' '0' %}" class="btn btn-secondary" style="background-color: #00aaff; border-color: #00aaff;">Nuevo</a>
            <button onclick="event.preventDefault(); document.getElementById('id_imagen').click();" class="btn btn-secondary" style="background-color: #00aaff; border-color: #00aaff;">Seleccionar imagen</button>  
            <button class="btn btn-info" id="crear_usuario_prueba">Crear usuario de prueba</button>
            
            {% if form_usuario.instance.id %}
                <a class="btn btn-danger" href="{% url 'usuarios' 'eliminar' form_usuario.instance.id %}">Eliminar</a>
            {% endif %}
        </div>
    </div> 
</form>
<br>

<!-- AREA DE TABLA DE USUARIOS -->
<table id="tabla-principal" class="table table-hover" style="border: 2px solid #007bff; border-radius: 10px; background-color: #f8faff;">
    <thead style="background-color: #007bff; color: white;">
        <tr>
            <th>ID</th>
            <th>Cuenta</th>
            <th>Tipo usuario</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>RUT</th>
            <th>Subscrito</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr style="background-color: #e6f5ff;">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.perfil.tipo_usuario }}</td>
            <td>{{ usuario.first_name }}</td>
            <td>{{ usuario.last_name }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.perfil.rut }}</td>
            <td>{% if usuario.perfil.subscrito %}Sí{% else %}No{% endif %}</td>
            <td>
                <img src="/media/{{ usuario.perfil.imagen }}" class="usuario-sm" alt="" style="border-radius: 5px; border: 1px solid #00aaff;">
            </td>
            <td>
                <div class="btn-group">
                    <a href="{% url 'usuarios' 'actualizar' usuario.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'usuarios' 'eliminar' usuario.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    <form action="{% url 'cambiar_password' %}" method="post" id="form_{{ usuario.username }}">
                        {% csrf_token %}
                        <input type="hidden" id="username" name="username" value="{{ usuario.username }}">
                        <button class="btn btn-info btn-sm" id="id_generar_password" onclick="document.getElementById('form_{{ usuario.username }}').submit();">Contraseña</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

{% block script %}
<script src="{% static 'core/js/usuarios.js' %}"></script>
{% endblock script %}

    