th {
  vertical-align: top !important;
  background-color: #A8DADC !important; /* Azul celeste */
}

input, textarea, select {
  background-image: linear-gradient(to right, #B2DFDB, #B2DFDB) !important; /* Celeste claro */
  box-shadow: 0 2px 4px rgba(0, 122, 255, 0.5) !important; /* Azul */
  border-color: rgba(0, 122, 255, 0.5) !important; /* Azul */
  color: #23547c !important; /* Azul oscuro */
}

body {
  background-color: #FFFFFF !important; /* Blanco */
  color: #2a9df4 !important; /* Azul */
}

.logo_pequeno {
  width: 40px !important;
  margin-right: 10px !important;
}

.nav_anonimo {
  background-image: linear-gradient(to right, #23547c );
  box-shadow: 0 2px 4px #ADD8E6;
  border-bottom: 1px solid #ADD8E6;
  color: #FFFFFF;
}

.boton_buscar_anonimo {
  background-image: linear-gradient(to right, #B2DFDB, #B2DFDB) !important; /* Celeste claro */
  box-shadow: 0 2px 4px rgba(0, 122, 255, 0.5) !important; /* Azul */
  border-color: rgba(0, 122, 255, 0.5) !important; /* Azul */
  color: #23547c !important; /* Azul oscuro */
}

.boton_buscar_anonimo_2 {
  background-image: linear-gradient(to right, #23547c, #6ec1e4) !important; /* Azul y celeste */
  box-shadow: 0 2px 4px rgba(0, 122, 255, 0.5) !important; /* Azul */
  border-color: rgba(0, 122, 255, 0.5) !important; /* Azul */
  color: #FFFFFF !important; /* Blanco */
  text-align: center !important;
}

.btn_eliminar_carrito {
  background-image: #2a9df4 !important; /* Azul */
  color: #FFFFFF !important; /* Blanco */
}

button.btn {
  display: flex !important;
  align-items: center !important;
  margin-right: 5px !important;
}

button.btn svg {
  margin-right: 5px !important;
}

.index_prod_1 {
  background-color: #2a2c47 !important;
  background-image: linear-gradient(to right, #1a1c35, #59647e) !important;
  color: #5d6087 !important;
  max-width: 250px !important;
  margin: auto !important;
}

.form-control {
  max-width: 400px !important;
}

.index_disponible {
  color: green !important;
  font-weight: bolder !important;
}

.index_precio {
  color: #2a9df4 !important; /* Azul */
  font-size: 25px !important;
}

.index_subscrito {
  color: #D86A6A !important; /* Rojo suave */
  font-size: 20px !important;
}

.index_oferta {
  color: green !important;
  font-weight: bolder !important;
}

.letra_blanca {
  color: #fff !important;
}

.index_foto_fondo {
  background-color: #FFFFFF !important;
  border: 2px solid rgba(0, 122, 255, 0.5) !important; /* Azul */
  color: #2a9df4 !important; /* Azul */
  box-shadow: 0 2px 4px rgba(0, 122, 255, 0.5) !important; /* Azul */
}

.index_btn_comprar {
  background-image: linear-gradient(to right, #A8DADC, #A8DADC) !important; /* Celeste */
  box-shadow: 0 2px 4px rgba(0, 122, 255, 0.5) !important; /* Azul */
  border-color: rgba(0, 122, 255, 0.5) !important; /* Azul */
  color: #23547c !important; /* Azul oscuro */
}

.admin_btn_django {
  background-image: linear-gradient(to right, #2a9df4, #2a9df4) !important; /* Azul */
  box-shadow: 0 2px 4px rgb(0, 122, 255) !important;
  border-color: rgba(0, 122, 255, 0.5) !important; /* Azul */
  color: #ffffff !important;
  width: 260px !important;
  height: 50px !important;
  font-size: 17px !important;
}

.titulos {
  color: #6ec1e4 !important; /* Celeste */
}

.titulos_2 {
  color: #23547c !important; /* Azul */
}

.navbar-nav .nav-link {
  color: #FFFFFF !important;
}

.titulo_producto_ficha {
  font-weight: bolder !important;
  font-size: 40px !important;
}

.oferta_en_ficha {
  color: #2a9df4 !important; /* Azul */
  font-weight: bolder !important;
  font-size: 30px !important;
}

.precio_oferta_subscrito {
  color: #2a9df4 !important; /* Azul */
  font-size: 35px !important;
}

.descripcion_ficha {
  font-size: 20px !important;
  font-weight: bolder !important;
}

.foto_ficha {
  height: 450px !important;
  margin-right: 50px !important;
  font-weight: bolder !important;
}

.borde_nosotros {
  background-color: #23547c !important; /* Azul */
  padding: 10px !important;
  border-radius: 15px !important;
  border: 5px solid white !important;
}

.boton_correo {
  background-image: linear-gradient(to right, #B2DFDB, #B2DFDB) !important; /* Celeste claro */
  box-shadow: 0 2px 4px rgba(0, 122, 255, 0.5) !important; /* Azul */
  border-color: rgba(0, 122, 255, 0.5) !important; /* Azul */
  color: #23547c !important; /* Azul oscuro */
}

.registro_color {
  background-color: #A8DADC !important; /* Celeste */
  background-image: linear-gradient(to right, #A8DADC, #A8DADC) !important; /* Celeste */
  color: #23547c !important; /* Azul oscuro */
}

.cuadro_login {
  border: 10px solid rgba(0, 122, 255, 0.5) !important; /* Azul */
  padding: 40px !important;
  max-width: 500px !important;
  margin: 0 auto !important;
  text-align: center !important;
}

.boton_ingresar {
  background-image: linear-gradient(to right, #A8DADC, #A8DADC) !important; /* Celeste */
  box-shadow: 0 2px 4px rgba(0, 122, 255, 0.5) !important; /* Azul */
  border-color: rgba(0, 122, 255, 0.5) !important; /* Azul */
  color: #23547c !important; /* Azul oscuro */
  width: 200px !important;
  margin: auto !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
}

th.carrito_color_tabla {
  background-color: #A8DADC !important; /* Celeste */
}

.color_footer {
  color: rgba(0, 122, 255, 0.5) !important; /* Azul */
}

.color_ropa {
  background-color: #2a2c47 !important;
  background-image: linear-gradient(to right, #1a1c35, #59647e) !important;
  color: white !important;
}

.admin_foto {
  max-width: 450px !important;
  margin-left: 200px !important;
}

td.ver-detalle {
  color: #2a9df4 !important; /* Azul */
  text-decoration: none !important;
  cursor: pointer !important;
}

td.ver-detalle:hover {
  text-decoration: underline !important;
  background-color: #A8DADC !important; /* Celeste */
}

.boton_eliminar {
  background-color: #7073a3 !important;
  border-color: #23547c !important; /* Azul oscuro */
  width: 100px !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
}

.boton_ropa_2 {
  background-image: linear-gradient(to right, #2a9df4, #A8DADC) !important; /* Azul y celeste */
  box-shadow: 0 2px 4px rgba(0, 122, 255, 0.5) !important; /* Azul */
  border-color: rgba(0, 122, 255, 0.5) !important; /* Azul */
  color: #ffffff !important;
}

.tabla_producto {
  width: 100% !important;
  border-collapse: collapse !important;
}

.tabla_producto th {
  background-color: #A8DADC !important; /* Celeste */
}

.tabla_producto td,
.tabla_producto th {
  padding: 8px !important;
  text-align: left !important;
  border: 1px solid #ddd !important;
}

.tabla_producto tr:nth-child(even) {
  background-color: #f2f2f2 !important;
}

.tabla_producto tr:hover {
  background-color: #ddd !important;
}

.tabs {
  display: flex !important;
  justify-content: center !important;
  margin-top: 50px !important;
}

.tab {
  padding: 10px 20px !important;
  border: 1px solid #ddd !important;
  margin-right: 5px !important;
  cursor: pointer !important;
}

.tab:hover {
  background-color: #A8DADC !important; /* Celeste */
}

.tab.active {
  background-color: #2a9df4 !important; /* Azul */
  color: white !important;
}

.tabcontent {
  display: none !important;
  padding: 20px !important;
}

.tabcontent.active {
  display: block !important;
}
#help_text_id_subscrito {
  font-size: 0.9rem;
  color: #555 !important;
  margin-top: 0.5rem;
}
#checkbox-subscrito {
  display: flex;
  align-items: center;
}







